*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.head__title {
    color: white;
}



.main {

    margin: 0 auto;
}

.head {
    width: 100%;
    height: 50px;
    background-color: gray;
    text-align: center;
}

#head__title {
    padding: 10px;
    color: rgb(red, green, blue)
}

.item__option-inner {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

.item__option-inner>div {
    margin-top: 10px;

}

input {
    margin-left: 10px;
    margin-bottom: 5px;
}

.items {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.item__inner {
    margin-top: 100px;
}

.item__inner img {
    width: 300px;
    height: 250px;
    margin-bottom: 30px;
    cursor: pointer;
}

#item__one {
    padding: 20px;
}

#item__two {
    padding: 20px;
}

#item__three {
    padding: 20px;
}

.button {
    border: none;
    color: white;
    padding: 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    background-color: #04b1eb;
    right: 850px;
    top: 60px;
}
